.builder {
  display: grid;
  grid-template-columns: 200px 1fr 300px;
  height: 100vh;
}

.sidebar {
  background-color: #eee;
  padding: 1rem;
}

.canvas {
  background-color: $canvas-bg;
  padding: 1rem;
}

.inspector {
  background-color: #eee;
  padding: 1rem;
}